include ../../common.elements/rate-button/rate-button.pug

mixin room-card(roomCardData)
    -
        let {blockName, room, price, reviews, img} = roomCardData

        let divClass = `room-card ${ (blockName) ? blockName + '__room-card' : '' }`;
        let imgBlockClass = `room-card-img-block ${ (blockName) ? blockName + '__room-card-img-block' : '' }`;
        let bottomClass = `room-card-bottom-block ${ (blockName) ? blockName + '__room-card-bottom-block' : '' }`;
        let alignClass = `room-card-align-block ${ (blockName) ? blockName + '__room-card-align-block' : '' }`;
        let roomClass = `room-card-room-block ${ (blockName) ? blockName + '__room-card-room-block' : '' }`;
        let priceClass = `room-card-price-block ${ (blockName) ? blockName + '__room-card-price-block' : '' }`;
        let numClass = `room-card-num-span ${ (blockName) ? blockName + '__room-card-num-span' : '' }`;
        let nRoomClass = `room-card-room-span ${ (blockName) ? blockName + '__room-card-room-span' : '' }`;
        let luxClass = `room-card-lux-span ${ (blockName) ? blockName + '__room-card-lux-span' : '' }`;
        let nPriceClass = `room-card-price-span ${ (blockName) ? blockName + '__room-card-price-span' : '' }`;
        let dailyClass = `room-card-daily-span ${ (blockName) ? blockName + '__room-card-daily-span' : '' }`;
        let divReviewsClass = `room-card-reviews-block ${ (blockName) ? blockName + '__room-card-reviews-block' : '' }`;
        let nReviewsClass = `room-card-n-reviews-span ${ (blockName) ? blockName + '__room-card-n-reviews-span' : '' }`;
        let reviewsClass = `room-card-reviews-span ${ (blockName) ? blockName + '__room-card-reviews-span' : '' }`;
        let lineClass = `room-card-line ${ (blockName) ? blockName + '__room-card-line' : '' }`;
        let imgClass = `room-card-img ${ (blockName) ? blockName + '__room-card-img' : '' }`;

        let includesClass = `${ (blockName) ? blockName + '__room-card' : 'room-card' }`;

        let roomNumber = room.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + ' ');
        roomNumber = " " + roomNumber + " ";
        let roomPrice = price.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + ' ');
        roomPrice = roomPrice + "₽ ";
        let roomReviews = reviews.replace(/(\d{1,3}(?=(?:\d\d\d)+(?!\d)))/g, "$1" + ' ');
        roomReviews = roomReviews + " ";

        let imgPath = "../../img/";
        imgPath = imgPath + img;

    div(class = divClass)
        img(class = imgClass src = img alt = "")
        //- div(class = imgBlockClass)
        div(class = bottomClass)
            div(class = alignClass)
                div(class = roomClass)
                    span(class = numClass) №
                    span(class = nRoomClass)= roomNumber
                    span(class = luxClass) люкс
                div(class = priceClass)
                    span(class = nPriceClass)= roomPrice
                    span(class = dailyClass) в сутки
            div(class = lineClass)
            div(class = alignClass)
                - const rateButtonData = { blockName: includesClass }
                +rate-button(rateButtonData)
                div(class = divReviewsClass)
                    span(class = nReviewsClass)= roomReviews
                    span(class = reviewsClass) Отзывов

