mixin rich-checkbox-buttons(richCheckboxButtonsData)
    -
        let {blockName, title, modCheckmark, modBlock} = richCheckboxButtonsData;

        let divClass = `rich-checkbox-buttons ${ (blockName) ? blockName + '__rich-checkbox-buttons' : '' }`;
        let pClass = `rich-checkbox-buttons-title ${ (blockName) ? blockName + '__rich-checkbox-buttons-title' : '' }`;
        let alignClass = `rich-checkbox-buttons-align-block ${ (blockName) ? blockName + '__rich-checkbox-buttons-title' : '' }`;
        let checkboxClass = `rich-checkbox-buttons-checkbox ${ (blockName) ? blockName + '__rich-checkbox-buttons-checkbox' : '' }`;
        let checkmarkClass = `rich-checkbox-buttons-checkmark ${ (blockName) ? blockName + '__rich-checkbox-buttons-checkmark' : '' }`;
        let labelClass = `rich-checkbox-buttons-label ${ (blockName) ? blockName + '__rich-checkbox-buttons-label' : '' }`;
        let detailClass = `rich-checkbox-buttons-detail ${ (blockName) ? blockName + '__rich-checkbox-buttons-detail' : '' }`;
       
        let idDefiner;

        if (modCheckmark) { //- модификация чекбоксов-имитаторов
            const modifCheckmark = modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += " " + blockName + `__${modifCheckmark.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            divClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

    div(class = divClass)
        if (title)
            p(class = pClass)= title
        div(class = alignClass)
            - idDefiner = blockName + "-option1";
            input(type = "checkbox" class = checkboxClass id = idDefiner hidden)
            label(for = idDefiner class = checkmarkClass)
            label(for = idDefiner class = labelClass) Широкий коридор
        label(for = idDefiner class = detailClass)
                                                    | Ширина коридоров в номере
                                                    | не менее 91 см.
        div(class = alignClass)
            - idDefiner = blockName + "-option2";
            input(type = "checkbox" class = checkboxClass id = idDefiner hidden)
            label(for = idDefiner class = checkmarkClass)
            label(for = idDefiner class = labelClass) Помощник для инвалидов
        label(for = idDefiner class = detailClass) На 1 этаже вас встретит специалист и проводит до номера.
