mixin checkbox-buttons(checkboxButtonsData)
    -
        let {blockName, title, options, modCheckmark, modBlock} = checkboxButtonsData;

        let divClass = `checkbox-buttons ${ (blockName) ? blockName + '__checkbox-buttons' : '' }`;
        let pClass = `checkbox-buttons-title ${ (blockName) ? blockName + '__checkbox-buttons-title' : '' }`;
        let alignClass = `checkbox-buttons-align-block ${ (blockName) ? blockName + '__checkbox-buttons-align-block' : '' }`;
        let checkboxClass = `checkbox-buttons-checkbox ${ (blockName) ? blockName + '__checkbox-buttons-checkbox' : '' }`;
        let checkmarkClass = `checkbox-buttons-checkmark ${ (blockName) ? blockName + '__checkbox-buttons-checkmark' : '' }`;
        let labelClass = `checkbox-buttons-label ${ (blockName) ? blockName + '__checkbox-buttons-label' : '' }`;

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listOptions = options.split(/(?=[А-Я])/);
        let counter = 1;
        let idCounter;

        if (modCheckmark) { //- модификация чекбоксов-имитаторов
            const modifCheckmark = modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += " " + blockName + `__${modifCheckmark.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            divClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

    div(class = divClass)
        if (title)
            p(class = pClass)= title
        each option in listOptions
            - idCounter = blockName + "-option" + counter;
            - counter++;
            div(class = alignClass)
                input(type = "checkbox" class = checkboxClass id = idCounter hidden)
                label(for = idCounter class = checkmarkClass)
                label(for = idCounter class = labelClass)= option
                //- how to use breakpoints inside "" in index.pug?
                //- how to use gradient for checkmarks?