mixin like-button(likeButtonData)
    -
        let {blockName, title, modButton} = likeButtonData

        let pClass = `like-button-title ${ (blockName) ? blockName + '__like-button-title' : '' }`;
        let checkboxClass = `like-button-checkbox ${ (blockName) ? blockName + '__like-button-checkbox' : '' }`;
        let btnClass = `like-button-label ${ (blockName) ? blockName + '__like-button-label' : '' }`;

        if (modButton) {
            const modifButton = modButton.split(/[,\s]\s*/);
            btnClass += " " + blockName + `__${modifButton.join(` ${blockName}__`)}`;
        }

        let idDefiner = blockName + "-checkbox-id";

    if (title)
        p(class = pClass)= title
    input(type="checkbox" class = checkboxClass id = idDefiner hidden)
    label(for=idDefiner class = btnClass)