mixin like-button(likeButtonData)
    -
        let {blockName, title, modButton, modBlock} = likeButtonData

        let divClass = `like-button-block ${ (blockName) ? blockName + '__like-button-block' : '' }`;
        let pClass = `like-button-title ${ (blockName) ? blockName + '__like-button-title' : '' }`;
        let checkboxClass = `like-button-checkbox ${ (blockName) ? blockName + '__like-button-checkbox' : '' }`;
        let btnClass = `like-button-label ${ (blockName) ? blockName + '__like-button-label' : '' }`;

        if (modButton) {
            const modifButton = modButton.split(/[,\s]\s*/);
            btnClass += " " + blockName + `__${modifButton.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            divClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

        let idDefiner = blockName + "-checkbox-id";

    div(class = divClass)
        if (title)
            p(class = pClass)= title
        input(type="checkbox" class = checkboxClass id = idDefiner hidden)
        label(for=idDefiner class = btnClass)