mixin bullet-list(bulletListData)
    -
        let {blockName, title, points, modPoints} = bulletListData;

        let divClass = `bullet-list ${ (blockName) ? blockName + '__bullet-list' : '' }`;
        let pClass = `bullet-list-title ${ (blockName) ? blockName + '__bullet-list-title' : '' }`;
        let listClass = `bullet-list-list ${ (blockName) ? blockName + '__bullet-list-list' : '' }`;
        let pointClass = `bullet-list-point ${ (blockName) ? blockName + '__bullet-list-point' : '' }`;

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listPoints = points.split(/(?=[А-Я])/);

        if (modPoints) { //- модификация пунктов списка
            const modifPoints = modPoints.split(/[,\s]\s*/);
            pointClass += " " + blockName + `__${modifPoints.join(` ${blockName}__`)}`;
        }

    div(class = divClass)
        p(class = pClass)= title
        ul(class = listClass)
            each point in listPoints
                li(class = pointClass)= point