mixin expand-checkbox(expandCheckboxData)
    -
        let {blockName, title, options, modCheckmark, modBlock} = expandCheckboxData;

        let divClass = `expand-checkbox ${ (blockName) ? blockName + '__expand-checkbox' : '' }`;
        let hCheckboxClass = `expand-checkbox-hid-checkbox ${ (blockName) ? blockName + '__expand-checkbox-hid-checkbox' : '' }`;
        let titleClass = `expand-checkbox-title ${ (blockName) ? blockName + '__expand-checkbox-title' : '' }`;
        let expBlockClass = `expand-checkbox-expblock ${ (blockName) ? blockName + '__expand-checkbox-expblock' : '' }`;
        let alignClass = `expand-checkbox-align-block ${ (blockName) ? blockName + '__expand-checkbox-align-block' : '' }`;
        let checkboxClass = `expand-checkbox-checkbox ${ (blockName) ? blockName + '__expand-checkbox-checkbox' : '' }`;
        let checkmarkClass = `expand-checkbox-checkmark ${ (blockName) ? blockName + '__expand-checkbox-checkmark' : '' }`;
        let labelClass = `expand-checkbox-label ${ (blockName) ? blockName + '__expand-checkbox-label' : '' }`;

        if (modCheckmark) { //- модификация чекбоксов-имитаторов
            const modifCheckmark = modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += " " + blockName + `__${modifCheckmark.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            divClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const listOptions = options.split(/(?=[А-Я])/);
        let counter = 1;
        let idCounter;
        let idDefiner;
    
    div(class = divClass)
        - idDefiner = blockName + "-exp-checkbox-btn";
        input(class = hCheckboxClass type = "checkbox" id = idDefiner hidden)
        label(for = idDefiner class = titleClass)= title
        div(class = expBlockClass)
            each option in listOptions
                - idCounter = blockName + "-appliance" + counter;
                - counter++;
                div(class = alignClass)
                    input(type = "checkbox" class = checkboxClass id = idCounter hidden)
                    label(for = idCounter class = checkmarkClass)
                    label(for = idCounter class = labelClass)= option