mixin expand-checkbox(expandCheckboxData)
    -
        let titleClass = "expand-checkbox__title";
        if (expandCheckboxData.modTitle) { //- модификация надписи
            const modTitle = expandCheckboxData.modTitle.split(/[,\s]\s*/);
            titleClass += ` expand-checkbox__${modTitle.join(' expand-checkbox__')}`;
        }

        let checkmarkClass = "expand-checkbox__checkmark"
        if (expandCheckboxData.modCheckmark) { //- модификация чекбоксов-имитаторов
            const modCheckmark = expandCheckboxData.modCheckmark.split(/[,\s]\s*/);
            checkmarkClass += ` expand-checkbox__${modCheckmark.join(' expand-checkbox__')}`;
        }

        let labelClass = "expand-checkbox__label"
        if (expandCheckboxData.modLabel) { //- модификация label
            const modLabel = expandCheckboxData.modLabel.split(/[,\s]\s*/);
            labelClass += ` expand-checkbox__${modLabel.join(' expand-checkbox__')}`;
        }
        //- для динамического создания пунктов списка разбиваем
        //- строку с пунктами в массив
        const options = expandCheckboxData.options.split(/(?=[А-Я])/);
        let counter = 1;
        let idCounter = "appliance";
    
    .expand-checkbox
        input(class = "expand-checkbox__hidden-checkbox" type = "checkbox" id = "btn" hidden)
        label(for = "btn" class = titleClass)= expandCheckboxData.title
        .expand-checkbox__exp-block
            each option in options
                - idCounter = "appliance" + counter;
                - counter++;
                .expand-checkbox__align-block
                    input(type = "checkbox" class = "expand-checkbox__checkbox" id = idCounter hidden)
                    label(for = idCounter class = checkmarkClass)
                    label(for = idCounter class = labelClass)= option