mixin toggle(toggleData)
    -
        let {blockName, title, label, modSlider, modBlock} = toggleData;

        let pClass = `toggle-title ${ (blockName) ? blockName + '__toggle-title' : '' }`;
        let checkboxClass = `toggle-checkbox ${ (blockName) ? blockName + '__toggle-checkbox' : '' }`;
        let sliderClass = `toggle-slider ${ (blockName) ? blockName + '__toggle-slider' : '' }`;
        let labelClass = `toggle-label ${ (blockName) ? blockName + '__toggle-label' : '' }`;
        let alignClass = `toggle-align-block ${ (blockName) ? blockName + '__toggle-align-block' : '' }`;

        if (modSlider) {
            const modifSlider = modSlider.split(/[,\s]\s*/);
            sliderClass += " " + blockName + `__${modifSlider.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            alignClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

        let idDefiner;
    
    if (title)    
        p(class = pClass)= title
    - idDefiner = blockName + "-toggleID";
    div(class = alignClass)
        input(type = "checkbox" class = checkboxClass id = idDefiner hidden)
        label(for = idDefiner class = sliderClass)
        label(for = idDefiner class = labelClass)= toggleData.label