include ../../common.elements/like-button/like-button.pug

mixin review-bar(reviewBarData)
    -
        let {blockName, reviewer, date, review} = reviewBarData;

        let divClass = `review-bar ${ (blockName) ? blockName + '__review-bar' : '' }`;
        let div1Class = `review-bar-div1 ${ (blockName) ? blockName + '__review-bar-div1' : '' }`;
        let div2Class = `review-bar-div2 ${ (blockName) ? blockName + '__review-bar-div2' : '' }`;
        let block1Class = `review-bar-block1 ${ (blockName) ? blockName + '__review-bar-block1' : '' }`;
        let block2Class = `review-bar-block2 ${ (blockName) ? blockName + '__review-bar-block2' : '' }`;
        let imgClass = `review-bar-img ${ (blockName) ? blockName + '__review-bar-img' : '' }`;
        let nameClass = `review-bar-name ${ (blockName) ? blockName + '__review-bar-name' : '' }`;
        let dateClass = `review-bar-date ${ (blockName) ? blockName + '__review-bar-date' : '' }`;
        let reviewClass = `review-bar-review ${ (blockName) ? blockName + '__review-bar-review' : '' }`;

        let likeClass = "review-like " + blockName + "__review-bar";

    div(class = divClass)
        div(class = div1Class)
            div(class = imgClass)
            div(class = block1Class)
                p(class = nameClass)= reviewer
                p(class = dateClass)= date
        div(class = div2Class)
            div(class = block2Class)
                - const likeButtonData = { blockName: likeClass }
                +like-button(likeButtonData) 
            p(class = reviewClass)= review
            
            