mixin text-field(textFieldData)
    -
        let {blockName, title, iputType, inputPlaceholder, modInput, modBlock} = textFieldData;

        let divClass = `text-field-block ${ (blockName) ? blockName + '__text-field-block' : '' }`;
        let pClass = `text-field-title ${ (blockName) ? blockName + '__text-field-title' : '' }`;
        let alignClass = `text-field-align-block ${ (blockName) ? blockName + '__text-field-align-block' : '' }`;
        let inputClass = `text-field-input-box ${ (blockName) ? blockName + '__text-field-input-box' : '' }`;
        let btnClass = `text-field-submit-button ${ (blockName) ? blockName + '__text-field-submit-button' : '' }`;

        if (modInput) {
            const modifInput = modInput.split(/[,\s]\s*/);
            inputClass += " " + blockName + `__${modifInput.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            divClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }
    
    div(class = divClass)
        if (title)
            p(class = pClass)= title
        div(class = alignClass)
            input(type = inputType class = inputClass placeholder = inputPlaceholder)
            button(class = btnClass)

//- модификатор subscribe-button, чтобы отобразить кнопку "подписаться"
//- модификатор input-box_width_md