mixin rate-button(rateButtonData)
    -
        let {blockName, title, modButton, modBlock} = rateButtonData;

        let blockClass = `rate-button-div ${ (blockName) ? blockName + '__rate-button-div' : '' }`;
        let pClass = `rate-button-title ${ (blockName) ? blockName + '__rate-button-title' : '' }`;
        let divClass = `rate-button-block ${ (blockName) ? blockName + '__rate-button-block' : '' }`;
        let radioClass = `rate-button-radio ${ (blockName) ? blockName + '__rate-button-radio' : '' }`;
        let labelClass = `rate-button-label ${ (blockName) ? blockName + '__rate-button-label' : '' }`;

        if (modButton) {
            const modifButton = modButton.split(/[,\s]\s*/);
            btnClass += " " + blockName + `__${modifButton.join(` ${blockName}__`)}`;
        }

        if (modBlock) { //- moving the block of the element inside a parent block
            const modifBlock = modBlock.split(/[,\s]\s*/);
            blockClass += " " + blockName + `__${modifBlock.join(` ${blockName}__`)}`;
        }

        let idDefiner;
        let n = 1;
        let counter = 5;

    div(class = blockClass)
        if (title)
            p(class = pClass)= title
        div(class = divClass)
            while n <=5
                - idDefiner = blockName + "-button" + counter;
                - counter--;
                - n++;
                input(type="radio" class = radioClass id = idDefiner name = "rate-buttons" hidden)
                label(for=idDefiner class = labelClass)
